<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- partials -->
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body>
    <div class="container">

      <!-- header -->
      <header>
        <!-- partials -->

      </header>

      <!-- main -->
      <main>
        <h1>Edit Movement</h1>

        <!-- back to index page -->
        <div class="return-button">
          <form action="/movements">
            <input type="submit" name="return" value="Back to Movements">
          </form>
        </div>


      </main>

      <!-- footer -->
      <footer>
        <!-- partials -->
      </footer>



    </div>

  </body>
</html>
