<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- partials -->
    <!-- stylesheets -->
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body>
    <div class="container">
      <!-- header -->
      <header>
        <!-- partials -->
        <h1>Fundamental Human Movements for Kids</h1>
      </header>

      <!-- main -->
      <main>
        <h2>Edit Movement</h2>

        <!-- back to index page -->
        <div class="return-button">
          <form action="/movements">
            <input type="submit" name="return" value="Back to Movements">
          </form>
        </div>


      </main>

      <!-- footer -->
      <footer>
        <!-- partials -->
      </footer>



    </div>

  </body>
</html>
