<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!--  include .partials/head.ejs-->
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <div class="container">
      <header>
        <!-- include .partials/header.ejs -->
        <h1>Fundamental Human Movements</h1>
      </header>
      <main>
        <% for (let i = 0; i < movements.length; i++) { %>


        <div class="card">
          <div class="name">
            <!-- name of movement -->
            <%=movements[i].name %>
        <% } %>
          </div>
          <div class="image">
            <!-- image -->
          </div>
          <div class="example">
            <!-- example movement -->
          </div>
          <div class="info-button">
            <!-- Info button here  -->
          </div>
          <div class="delete-button">
            <!-- Delete form here  -->
          </div>
        </div>
        <div class="add-button">
          <!-- Add Movement button here -->
        </div>
      </main>
      <footer>
        <!-- include ./partials/footer.ejs -->

      </footer>
      <!-- end of container div -->
    </div>
  </body>
</html>
