<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!--  include .partials/head.ejs-->
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <div class="container">
      <header>
        <!-- include .partials/header.ejs -->
        <h1>Fundamental Human Movements Training</h1>
        <!-- banner image -->
      </header>

      <!-- main for the cards -->
      <main>
        <% for (let i = 0; i < movements.length; i++) { %>

        <!-- card div for each movement  -->
        <div class="card">

          <div class="name">
            <!-- name of movement -->
            Name: <%=movements[i].name %>
          </div> </br>

          <div class="image">
            <!-- image -->
            Image: <%=movements[i].image %>
          </div> </br>

          <div class="example">
            <!-- example movement -->
            Example: <%=movements[i].example %>
          </div> </br>


          <div class="info-button">
            <!-- link to show page for each movement -->
            <form action="/movements/<%=movements[i].id %>">
              <input type="submit" name="" value="Info">
            </form>
          </div> </br>

        <% } %>
          <div class="delete-button">
            <!-- Delete form here  -->
            Delete
          </div>

        <!-- end of card div -->
        </div>

        <nav>
          <!-- create new movement here  -->
        </nav>
      </main>

      <footer>
        <!-- include ./partials/footer.ejs -->
        <!-- contact -->
        <!-- About -->

      </footer>
      <!-- end of container div -->
    </div>
  </body>
</html>
