<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!--  include .partials/head.ejs-->
    <!-- stylesheets -->
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title>FHM | New</title>
  </head>
  <body>
    <!-- container -->
    <div class="container">
      <!-- header -->
      <header>
        <!-- partials -->
        <h1>Fundamental Human Movements for Kids</h1>
      </header>
      <!-- section for name and info -->
      <section>
        <h2>New Movement</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>
      <!-- Main -->
      <main>
        <!-- form -->
        <form action="/movements" method="POST">
          <!-- name of new movement -->
           <label for="name">Name</label>
           <input type="text" name="name">
           <!-- image link of new movement -->
           <label for="img">Image Link</label>
           <input type="text" name="img">
           <!-- Info about new movement -->
           <label for="info">Info</label>
           <input type="text" name="Info">
           <!-- examples -->
           <label for="examples">Examples</label>
           <input type="text" name="Examples">
           <!-- Add Movement button -->
           <input class="add-button" type="submit" value="Add Movement">
        </form>
        <div class="back-button">
          <nav>
            <a href="/movements"><button type="button" name="button">
              Back to Movements</button>
            </a>
          </nav>
        </div>
      </main>
      <!-- footer -->
      <footer>
        <!-- partials -->
      </footer>

    <!-- end container div  -->
    </div>

  </body>
</html>
