<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <!-- container for everything inside the body -->
    <div class="container">
      <header>
        <!-- same header for each page - partials -->
        <h1>Movement Details</h1>
      </header>

      <!-- Main  -->



    </div>
    <!-- footer -->
  </body>
</html>
