<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <!-- container for everything inside the body -->
    <div class="container">
      <header>
        <!-- same header for each page - partials -->
        <h1>Movement Details</h1>
      </header>

      <!-- Main  -->
      <main>
        <!-- name -->
        <div class="name">
          Name: <%=movement.name %>
        </div> </br>
        <!-- image -->
        <div class="image">
          <%=movement.image%>
        </div> </br>
        <!-- info -->
        <div class="info">
          Info: <%=movement.info %>
        </div> </br>
        <!-- edit button -->
        <div class="edit-button">
          <form action="/movements/<%=movements[i].id %>">
            <input type="submit" name="edit" value="Edit">
          </form>
        </div> </br>
        <!-- back to index page -->
        <div class="return-button">
          <form action="/movements">
            <input type="submit" name="return" value="Back to Movements">
          </form>
        </div>
      </main>
    <!-- container end  -->
    </div>
    <footer>
    <!-- footer -->
    </footer>

  </body>
</html>
