/* General */
* {
  border: 1px solid red;
}

body {
  background-image: url(../../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: 'Baufra';
  opacity: 1.0;
}

/* anchor link */
a {
  text-decoration: none;
}

/* Containers */
.container {
  background: rgba(191, 63, 174, 0.05);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding: 4em;
  overflow: auto;
  box-sizing: border-box;
  margin: 0 auto;
}


/* ==== INDEX PAGE ==== */
/* main, header, footer */
main, article, header, footer {
  width: 100%;
  margin: 0 auto;
  padding: 1em 1em;
  box-sizing: border-box;
  background: rgba(245, 245, 245, 0.85);
  border-radius: .5em;
  text-align: center;
  box-shadow: 1px 1px 5px #888;
  /* display: flex; */
  justify-content: space-between;
}

/* header */
header {
  margin-bottom: .25em;
}

h1 {
  color: #500c4a;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  font-family: 'Baufra';
}

section {
  padding: 10px;
  background-color: blue;
}

h2 {
  font-size: 2.5em;
}

p {
  padding: 2% 10%;
  text-align: justify;
  font-size: 1.5em;
}

nav {
  padding: 2% 10%;
  font-size: 1.5em;
}

.main {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  width: 100%;
  margin: 0 auto;
}

/* cards */
.card {
  background: green;
  width: 46%;
  /* height: 400px; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */ */
  padding: 16px;
  /* text-align: center; */
  /* background-color: #f1f1f1; */
  margin-bottom: 2%;
}

.row {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  width: 100%;
}

.column {
  diplay: flex;
  flex-flow: column;
}

/* name of movement */
.name {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  padding: 1em;
}

/* Index Page Images */
.movement-images {
  /* height: 400px; */
  width: 100%;
  align: center;
}

/* example div */
.example {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  padding: 1em;
}

/* =========================== */
/* SHOW PAGE */
/* More Info/Show Page Image */
.name-show {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  padding: 1em;
}


.movement-show {
  width: 60%;
}
